extends layout

block content
    h1= title
    table(border = '1')
        thead
            tr
                th Time
                th Cost
        tbody
            each cost in costs
                tr
                    td= new Date(cost.time)
                    td= cost.cost

