extends layout

block content
    h1= title
    h2 Aggregated Costs
    table.table.table-striped
        thead
            tr
                th Date
                th Aggregated Costs
        tbody
            each cost in aggregatedCosts
                tr
                    td= cost.date.toLocaleDateString()
                    td= cost.total

